* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.balance {
  text-align: center;
  margin-bottom: 20px;
}

#balance {
  font-size: 24px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

ul {
  margin-top: 20px;
  list-style: none;
}

li {
  background: #334155;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}